.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #013C38;
  padding: 10px 0;
  font-size: 18px;
  width: 100%;
  pos
}
