.event-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.event-form input,
.event-form textarea {
  text-align: center;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  color: #013C38;
  margin-bottom: 15px;
}

.event-form button {
  padding: 8px;
  background-color: #013C38;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  margin-top: 10px;
}

.event-form button:hover {
  background-color: #45a049;
}

.datetime-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.datetime-field label {
  margin-bottom: 8px;
}
