.about {
  padding: 2rem;
  text-align: center;
}

.about__title {
  font-family: "Goblin One", serif;
  font-size: 48px;
  color: #013C38;
  margin-bottom: 20px;
}

.about__text {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 24px;
  color: #013C38;
  margin-bottom: 40px;
}

.about__features {
  margin-top: 20px;
}

.about__features-title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 34px;
  font-style: italic;
  color: #013C38;
  margin-bottom: 20px;
}

.about__features-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.about__feature {
  background-color: #B4DDCF;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.about__feature:hover {
  transform: translateY(-5px);
}

.about__feature-title {
  font-size: 1.5rem;
  color: #013C38;
  margin-bottom: 10px;
}

.about__feature-description {
  font-size: 1rem;
  color: #013C38;
}

.about__get-started-btn {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 25px;
  border: 2px solid #013C38; 
  border-radius: 25px;
  background-color: #b4ddcf; 
  color: #013C38; 
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}