.header {
  padding: 32px 0 28px;
  font-weight: 400;
  background-color: #B4DDCF;
}

.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #013C38;
}

.header__logo {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: "Goblin One", serif;
  font-size: 24px;
  color: #013C38;
  background-color: transparent;
  width: 100px;
  height: 200px;
}

.header__title {
  font-family: "Goblin One", serif;
  color:#013C38;
  font-size: small;
}

.header__register-btn {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: "Goblin One", serif;
  font-size:medium;
  font-weight: 400;
  color: #013C38;
  background-color: transparent;
}

.header__login-btn {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: "Goblin One", serif;
  font-size:medium;
  font-weight: 400;
  color: #013C38;
  background-color: transparent;
}