.dashboard__hub-container {
  display: grid;
  grid-template-areas:
  "left calendar right"
  "bottomLeft calendar bottomRight";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 20px;
  height: 
}